$color-red: #f10817;
$color-jaune: #fea900;
$color-bleu: #0017c6;
$color-vert: #003e46;
$color-vert-clair: #0f7885;
$color-vert-clair-clair: #ecf3f4;
$color-clair: #f2f2f2;
$color-black: #0a0b0b;
$color-gris: #dfd9e3;
